.cookie-banner {
    position: fixed;
    bottom: .4rem;
    left: .4rem;
    width: calc(100% - .8rem);
    max-width: 30rem;
    background-color: #2a2a40;
    color: rgb(250, 250, 252);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    border-radius: .8rem;
    box-sizing: border-box;
}
.cookie-banner .img-cookie{
    position: absolute;
    top: -2rem;
    right: -2rem;
    width: 6rem;
}
.cookie-banner h1{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .4rem;
}
.cookie-banner p {
    margin: 0 0 10px;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
}

.cookie-banner p a{
    color: rgb(176, 176, 255);
}
.cookie-banner .cookie-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.cookie-banner .cookie-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.3s;
    width: 40%;
    max-width: 12rem;
    box-sizing: border-box;
}

.cookie-banner .cookie-buttons .accept {
    background-color: var(--color-main-1);
    color: white;
}

.cookie-banner .cookie-buttons .deny {
    background-color: transparent;
    border: 2px solid #f44336;
    color: white;
}

.cookie-banner.hide {
    display: none;
}