.container-p-p{
    padding: 1rem;
}
.container-p-p h1{
    font-size: 1.4rem;
    font-weight: bold;
}
.container-p-p h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.2rem;
}
.container-p-p p{
    margin-left: .8rem;
}