.container-result-all{
    width: 100%;
    padding: 0rem;
    box-sizing: border-box;
}
.container-result-all .container-title-section{
    width: 100%;
    max-width: 18rem;
    padding: 1rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0rem;
    position: relative;
    border-right: 1px solid rgb(213, 204, 204);
    
}
.container-result-all .container-title-section .container-details-header-get{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0rem;
    padding: .4rem;
}
.container-result-all .container-title-section .container-details-header-get > span{
    font-size: .9rem;
}
.container-result-all .container-title-section .container-details-header-get .address-view{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    column-gap: .1rem;
    font-size: .9rem;
    color: rgb(58, 58, 95);
    padding: .3rem;
    border-radius: .4rem;
    width: 100%;
}
.container-result-all .container-title-section .container-details-header-get .address-view .field{
    width: 100%;
}
.container-result-all .container-title-section h2{
    font-size: 1.3rem;
    font-weight: bold;
}
.container-result-all .container-title-section .btn-close{
    display: block;
    position: absolute;
    right: .1rem;
    top: 0rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding: .2rem;
}
.container-result-all .container-properties .container-body-data-result{
    width: calc(100% - 18rem);
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.container-result-all .container-properties .container-body-data-result .container-nav-search-body{
    width: 100%;
    margin: 1rem .6rem 0 0;
    box-sizing: border-box;
}
.container-result-all .container-properties .container-body-data-result .container-nav-search-body ul{
    /* padding: .4rem; */
}
.container-result-all .container-properties .container-body-data-result .container-nav-search-body ul li{
    margin-right: .8rem;
    padding: .4rem;
    color: #666666;
    /* fill: white; */
    stroke: #666666;
}
.container-result-all .container-properties .container-body-data-result .container-nav-search-body ul li.is-active{
    background-color: var(--color-main-1);
    color: white;
    /* fill: white; */
    stroke: white;
    border-radius: .4rem .4rem 0 0;
}
.container-result-all .container-properties .container-body-data-result .container-nav-search-body ul li button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0rem;
}
.container-result-all .container-properties .container-body-data-result .pagination{
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data{
    width: 100%;
    padding: 0 .8rem;
    min-height: 10rem;
    position: relative;
    box-sizing: border-box;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data .container-map-main-search{
    width: 100%;
    height: 28rem;
    background-color: rgb(203, 210, 210);
    box-sizing: border-box;
    border-radius: .4rem;
    overflow: hidden;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data .container-map-main-search #map{
    width: 100%;
    height: 100%;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data .container-map-main-search .map-error{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5a5a5c;
    background-color: #eef2f3;
    padding: 1rem;
    font-size: .95rem;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data .container-more-data-locations{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .6rem;
    margin-top: .8rem;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data .container-column-view-data-map-macro{
    width: 100%;
    /* background-color: rgb(215, 221, 244); */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 8rem;
    padding: .8rem;
    border-radius: .4rem;
    margin-top: .6rem;
    box-sizing: border-box;
    column-gap: 1.6rem;
    row-gap: .8rem;
}
.container-search-map-data .container-column-view-data-map-macro .container-column-view-data-map{
    min-width: 12rem;
    
}
.container-search-map-data .container-column-view-data-map-macro .container-column-view-data-map h4{
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-main-1);
    cursor: pointer;
    width: fit-content;
    user-select: none;
}
.container-search-map-data .container-column-view-data-map-macro .container-column-view-data-map h4:hover{
    color: greenyellow;
    transform: scale(1.3);
    text-decoration: underline;
}
.container-search-map-data .container-column-view-data-map-macro .container-column-view-data-map ul{
    margin-left: .8rem;
}
.container-search-map-data .container-column-view-data-map-macro .container-column-view-data-map ul li{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .2rem;
    color: rgb(102, 114, 140);
    user-select: none;
}
.container-search-map-data .container-column-view-data-map-macro .container-column-view-data-map ul li:hover{
    color: blue;
    text-decoration: underline;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data .container-more-data-locations .container-column-view-data-map{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data .container-more-data-locations .container-column-view-data-map ul{
    margin-left: .8rem;
}
.container-result-all .container-properties .container-body-data-result .container-search-map-data .container-more-data-locations .container-column-view-data-map ul li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: .4rem;
    row-gap: .2rem;
}
.container-result-all .container-properties .container-search-map-data .btn-open,
.container-result-all .container-properties .card-grid .btn-open{
    display: none;
    position: absolute;
    left: .4rem;
    top: -3.42rem;
    z-index: 3;
    justify-content: flex-start;
    align-items: center;
    column-gap: .4rem;
    border-radius: .4rem .4rem 0 0;
    border: none;
    background-color: #393464;
    color: white;
    
}
.container-result-all .container-properties .container-search-map-data .btn-open span,
.container-result-all .container-properties .card-grid .btn-open span{
    font-size: 1rem;
}
.container-result-all .container-properties{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    column-gap: .6rem;
}
.container-result-all .container-properties .card-grid{
    width: 100%;
    position: relative;
    padding: 1rem;
}
.container-result-all .container-properties .container-filter-result{
    width: 100%;
    height: 100%;
    min-height: 28rem;
    padding: .8rem;
    padding-top: 0;
    border-radius: .4rem;
    background-color: rgb(255, 255, 255);
}
.container-result-all .container-properties .container-filter-result .container-others{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .4rem;
}
.container-result-all .container-properties .container-filter-result .container-others .save-search-main{
    width: 100%;
    color: white;
    background-color: var(--color-main-1);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
}
.container-result-all .container-properties .container-filter-result .div-two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .4rem;
}
.container-result-all .container-properties .container-filter-result .container-form-inputs > label{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0rem;
    margin-top: .4rem;
}
.container-result-all .container-properties .container-filter-result .container-form-inputs > label .select select{
    width: 100%;
}
.container-result-all .container-properties .container-filter-result .container-form-inputs > label .select{
    width: 100%;
}
.container-result-all .container-properties .container-filter-result .container-form-inputs > label > span{
    font-weight: bold;
    font-size: .9rem;
    text-align: start;
    width: 100%;
}
.container-result-all .container-properties .container-filter-result .container-form-inputs > label .container-radio-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .4rem;
    width: 100%;
    margin-top: .4rem;
}
.container-result-all .container-properties .container-filter-result .container-form-inputs > label .container-radio-row span{
    font-size: .9rem;

}
.container-map-main-search #map .gm-style-iw-chr{
    height: 1.8rem;
}
.container-map-main-search #map .gm-ui-hover-effect {
    top: -.5rem;
    right: -1rem;
}
/* mapa market styles */
.container-map-details-info-app-main{
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    row-gap: .2rem;
}
.container-map-details-info-app-main > h3{
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: .2rem;
}
.container-map-details-info-app-main .a-redirect-view{
    background-color: var(--color-main-1);
    color: white;
    padding: .3rem;
    font-size: .9rem;
    border-radius: .3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .2rem;
    margin-top: .3rem;
}
.container-map-details-info-app-main .div-row-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: .2rem;
}


@media screen and (orientation: portrait) {
    .container-result-all .container-properties .card-grid{
        width: 100%;
        margin-top: 0rem;
    }
    .container-result-all .container-title-section{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 5;
        height: 100vh;
        padding: 1rem;
        width: 100%;
        max-width: 28rem;
    }
    .container-result-all .container-title-section .btn-close{
        display: block;
        position: absolute;
        right: .4rem;
        top: .4rem;
    }
    .container-result-all .container-properties .container-search-map-data .btn-open,
    .container-result-all .container-properties .card-grid .btn-open{
        display: flex;
    }
    .container-result-all .container-properties .container-body-data-result{
        width: 100%;
    }
    .container-search-map-data .container-column-view-data-map-macro .container-column-view-data-map{
        width: fit-content;
    }
}
