.notification{
    position: absolute;
    top: .6rem;
    right: .6rem;
    width: 100%;
    max-width: 20rem;
    z-index: 5;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.container-main .container-message{
    width: 100%;
}
.container-main .container-message h1{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(11, 11, 53);
}
.container-main .container-message h2{
    font-size: 1.2rem;
    font-weight: bold;
}

.container-main .container-message .options-container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.container-main .container-message .options-container .ctn-img{
    width: 9rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container-main .container-message .options-container .ctn-img:hover{
    outline: 3px solid rgba(59, 59, 230, 0.524);
}
.container-main .container-message .options-container .ctn-img img{
    max-width: 100%;
    max-height: 100%;
}
.container-main .container-message .options-container .ctn-img .container-main-img{
    width: 100%;
    height: calc(10rem - 2.8rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: .3rem;
    box-sizing: border-box;
    
}
.container-main .container-message .options-container .ctn-img .card-footer{
    width: 100%;
    height: 2.8rem;
    background-color: rgb(255, 255, 255);
}
.container-main .container-message .options-container .ctn-img .card-footer span{
    color: rgb(18, 40, 86);
}
@media screen and (orientation: portrait) {
    .container-main .container-message .options-container{
        justify-content: center;
    }
}