body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container-google-maps-required-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
}
.container-google-maps-required-tags button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .2rem;
    
    font-size: .8rem;
    height: 2.5rem;
}
.container-title-page {
    width: 100%;
    padding-top: 1rem;
    max-width: 68rem;
}
.container-title-page h2{
    font-weight: bold;
    font-size: 1.5rem;
}
.container-title-page h2 span{
    font-size: 1.6rem;
    color: rgb(131, 197, 32);
}
.container-main{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    padding: .6rem;
}
.container-main .label-col-100{
    width: 100%;
    display: block;
}
.container-main .label-radio-checkbox-col-100{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: .4rem;
}
.container-main .label-radio-checkbox-col-100 input{
    flex-shrink: 0;
}
.container-main .div-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    row-gap: .9rem;
    width: 100%;
    height: fit-content;
}
.container-main .div-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-content: start;
    column-gap: 1rem;
    row-gap: .9rem;
    width: 100%;
    height: fit-content;
}
.container-main .div-col-1{
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: start;
    column-gap: 1rem;
    row-gap: .9rem;
    width: 100%;
    height: fit-content;
}
.container-main .div-col-1 .container-controls-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: .3rem;   
}
.container-main .div-col-1 .container-controls-cont .icon{
    padding: .4rem;
    background-color: var(--color-main-1);
    cursor: pointer;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
    user-select: none;
}
.container-main .label-col-50{
    width: 50%;
    display: block;
}
.container-main .container-row-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 1.2rem;
    row-gap: 1rem;
    width: 100%;
    max-width: 100%;
    height: fit-content;
}
.container-main .container-row-form .container-two-grid-col{
    grid-column: span 2;
}
.container-main .container-row-form-col-1{
    grid-template-columns: 1fr 1fr 1fr ;
}
.container-main .container-row-form input[type="radio"],
.container-main .container-row-form input[type="checkbox"]{
    margin-right: .4rem;
    width: 1.1rem;
    height: 1.1rem;
    accent-color: var(--color-main-1);
    background-color: #ffffff;
}
.container-main .container-row-form .checkbox.no-number {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container-main .title-main-row-section{
    font-weight: 700;
    font-size: 1rem;
    color: #0f172a;
    display: inline-flex;
    align-items: center;
    gap: .6rem;
    margin: 0.2rem 0 0.6rem;
}
.container-main .title-main-row-section::before{
    content: "";
    width: .65rem;
    height: .65rem;
    border-radius: .2rem;
    background: var(--color-main-1);
    box-shadow: 0 0 0 .35rem rgba(99, 196, 202, 0.18);
}
.container-main .container-row-form-col-1 .title-label,
.container-main .container-row-form .title-label{
    font-weight: 700;
    font-size: .72rem;
    text-transform: uppercase;
    letter-spacing: .06em;
    color: #64748b;
}
.container-main .container-row-form-col-1 .select,
.container-main .container-row-form .select{
    width: 100%;
}
.container-main .container-row-form-col-1 .select select,
.container-main .container-row-form .select select{
    width: 100%;
}
.container-main .container-row-form-images{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.container-main .container-row-form-images .card:nth-child(1){
    width: 100%;
    max-width: 28rem;
}
.container-main .container-row-form-images .card:nth-child(2){
    width: 100%;
    height: 28rem;
}


/* input image */
.container-main-template-input-simple {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: .4rem;
    margin-top: .5rem;
    width: 100%;
    max-width: 80rem;
    min-height: 20rem;
}
.container-main-template-input-simple > span{
    font-size: 1rem;
    width: 100%;
    text-align: start;
    font-weight: bold;
}
.container-main-template-input-simple .container-images{
    min-width: 15rem;
    min-height: 20rem;
    width: 100%;
    box-shadow: 2px 2px 10px rgb(217, 211, 211);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: .8rem;
    padding: .4rem;
    border-radius: .4rem;
}
.container-main-template-input-simple .container-image{
    width: 100%;
    height: 20rem;
    box-shadow: 2px 2px 10px rgb(217, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: .4rem;
    border-radius: .4rem;
}
.container-main-template-input-simple label{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-main-template-input-simple .container-images .container-main-view-block-image{
    display: flex;
    flex-direction: column;   
    row-gap: .4rem;
    padding: .4rem;
    border-radius: .4rem;
    border: 1px solid rgb(230, 218, 218);
    width: 16rem;
    max-width: 100%;
}
.container-main-template-input-simple .container-images .container-main-view-block-image .container-image-view-more-image{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: .35rem;
}
.container-main-template-input-simple .container-images .container-main-view-block-image .container-button-actions{
    width: 100%;
}
.container-main-template-input-simple .container-images .container-main-view-block-image .container-button-actions .button{
    width: 100%;
    border: 1px solid rgb(255, 181, 181);
    color: rgb(115, 27, 27);
}

.container-main-template-input-simple .container-images img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 2px 2px 10px rgb(217, 211, 211);
    object-fit: cover;
    border-radius: .4rem;
}
.container-main-template-input-simple .container-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: .4rem;
}
.container-main-template-input-simple .container-video{
    width: 100%;
    height: 20rem;
    box-shadow: 2px 2px 10px rgb(217, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: .4rem;
    border-radius: .4rem;
    background-color: rgb(200,204,208);
    position: relative;
}
.container-main-template-input-simple .container-video img{
    width: 10rem;
    height: auto;
    position: absolute;
}
.container-main-template-input-simple .container-video video{
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
}
.container-main-template-input-simple .btn-upload-image{
    width: auto;
    padding: 0 1rem;
    height: 2.5rem;
    background-color: var(--dark-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}
.container-main-template-input-simple input[type="file"] {
    display: none;
}
/* end input image */

.container-main .container-button-save{
    background-color: var(--color-main-1);
    color: white;
}



@media screen and (max-width: 800px) {
    .container-main .container-row-form{
        grid-template-columns: 1fr 1fr;
    }
    .container-main .div-col-3{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .container-main .container-row-form{
        grid-template-columns: 1fr;
    }
    .container-main .div-col-3{
        grid-template-columns: 1fr;
    }
}
