@import url("../config.css");
.container-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container-main .container-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: .4rem;
    width: 100%;
}
.container-main .container-header .container-image{
    width: 4rem;
    height: 4rem;
    flex-shrink: 1;
}
.container-main .container-header .container-image img{
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}
.container-main .container-header .container-text{
    min-width: calc(100% - 4.5rem);
    box-sizing: border-box;
}
.container-main .container-header .container-text h1{
    font-size: 1.1rem;
    margin: 0;
}
.container-main .container-header .container-text h2{
    font-size: 1.3rem;
    margin: 0;
}
.container-main .container-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
    flex-wrap: wrap;
    margin-top: 0rem;
    width: 100%;
    height: 100%;
}
*::-webkit-scrollbar{
    width: 4px;
    background-color: rgb(255, 255, 255);
}
*::-webkit-scrollbar-thumb{
    border-radius: .2rem;
    background-color: var(--color-main-1);
}