
.message-title-map{
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
}
.message-title-map h3{
    font-size: 1.2rem;
    font-weight: bold;
}
.container-map-google{
    width: 100%;
    height: 26rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-map-google #map{
    width: 100%;
    height: 100%;
} 
.container-details-map{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    row-gap: .4rem;
    flex-wrap: wrap;
    margin-top: .4rem;
}
.container-details-map .container-row-value{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content; 
    column-gap: .6rem;
}
.container-details-map .container-row-value .name-attr{
    font-weight: bold;
    font-size: 1rem;
}

.container-controls-map{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 1rem;
    gap: .4rem;
}
.container-controls-map #my-location{
    width: 100%;
}

.container-google-maps-required-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
}
.container-google-maps-required-tags button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .2rem;
    
    font-size: .8rem;
    height: 2.5rem;
}