.container-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: .6rem;
    position: relative;
}
.container-main .card-info-user-page{
    width: 100%;
    max-width: 21rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    border: 1px solid rgb(227, 214, 214);
    box-shadow: 1px 1px 10px rgb(230, 223, 223);
    position: sticky;
    top: .6rem;
}
.container-main-profile-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.container-main .card-info-user-page .card-image{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-main .card-info-user-page .card-image img{
    
    width: auto;
    height: auto;
    max-width: 12rem;
    max-height: 12rem;
    /* object-fit: cover; */
    border-radius: .4rem;
}
.container-main .card-info-user-page .card-content{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 4rem;
}
.container-main .card-info-user-page .card-content .container-services-details{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 .6rem 1rem;
}
.container-main .card-info-user-page .card-content .container-services-details h2{
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    margin-top: .1rem;
}
.container-main .card-info-user-page .card-content .container-services-details ul{
    list-style:disc ;
}
.container-main .card-info-user-page .card-content .content{
    width: 100%;
}
.container-main .card-info-user-page .card-content .content .container-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: .2rem;
    width: 100%;
}
.container-main .card-info-user-page .card-content .content .container-details .row-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: .6rem;
    column-gap: 1rem;
    /* border-bottom: 1px solid rgb(216, 202, 202); */
}
.container-main .card-info-user-page .card-content .content .container-details .row-info span{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.container-main .card-info-user-page .card-content .content .container-details .row-info .title{
    font-weight: bold;
    color: rgb(75, 74, 74);
    font-size: 1rem;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.container-main .card-info-user-page .card-content .media .media-content .title{
    font-size: 1.4rem;
    margin-bottom: .2rem;
    padding: 0;
}   
.container-main .card-info-user-page .card-content .media .media-content .p-text-normal{
    font-size: 1rem;
}
.container-main .card-info-user-page .card-content .media .media-content .p-date{
    font-size: .9rem;
    color: rgb(47, 57, 97);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .4rem;
}
.container-main .card-grid .card-content .card-footer > a{
    width: 50%;
}
.container-main .card-grid .card-content .card-footer > a button{
    width: 100%;
}
@media screen and (orientation: portrait) {
    .container-main{
        flex-direction: column;
    }
    .container-main .card-info-user-page{
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        position: relative;
    }
    .container-main .card-info-user-page .card-content .content .container-details .row-info{
        justify-content: space-between;
    }
    .container-main .card-info-user-page .card-content .content{
        width: 100%;
    }
    .container-main .card-info-user-page .card-image{
        width: 12rem;
    }
}