.container-main{
    width: 100%;
    height: 100%;
}
.container-main .container-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: .8rem;
}
.container-main .container-title h3{
    margin: 0;
}
.container-main .container-title .input{
    width: 16rem;
}
.container-main .container-title .icon{
    z-index: 1;
}
.container-main .table-container{
    width: 100%;
    height: calc(100% - 8.5rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .2rem;
}
.container-main .table-container::-webkit-scrollbar{
    height: 4px;
}
.container-main .table-container::-webkit-scrollbar-thumb{
    background-color: rgba(51, 51, 188, 0.476);
    border-radius: .1rem;
}
.container-main .table-container .table thead{
    background-color: var(--color-main-1);
}
.container-main .table-container .table thead th{
    color: white;
}
.container-main .table-container .table{
    width: 100%;
    border-radius: .6rem;
    /* overflow: hidden; */
}
.container-main .table-container table th,
.container-main .table-container table tr td{
    vertical-align:middle;
    white-space: nowrap;
    font-size: .9rem;
}
.container-main .table .container-buttons-action{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: .4rem;
}
.container-main .table .container-buttons-action a{
    width: fit-content;
    padding: 0;
    margin: 0;
}
.container-main .table .dropdown-menu{
    z-index: 10;
}


#modal-delete-user .modal-content{
    width: 100%;
    max-width: 30rem;
}
#modal-delete-user .modal-content .container-title{
    width: 100%;
    text-align: center;
}
#modal-delete-user .modal-content .container-title h2{
    font-size: 1.3rem;
    font-weight: bold;
}
#modal-delete-user .modal-content button{
    margin-top: 2rem;
}




@media screen and (orientation: portrait) {
    .container-main .container-title{
        flex-direction: column;
        justify-content: flex-start;
    }
    .container-main .container-title .input{
        width: 100%;
    }    
}