

.loader-ui-verse-simple {
    width: 2rem;
    height: 2rem;
    border: 5px solid #1cd42550;
    border-top-color: #1cd425;
    animation: spin013151 1s linear infinite;
    border-radius: 100%;
  }
  
  @keyframes spin013151 {
    to {
      transform: rotate(360deg);
    }
  }
/* <div class="loader-ui-verse-simple"></div> */